<div style = "width: 60%; margin-right: auto; margin-left:auto;">
	<center><h1> What is LeakNotifier?</h1></center>
	<p>Password leaks happen -- sometimes without us even knowing. Unless we read tech websites daily, we may not know when our accounts -- and passwords -- are compromised.</p>
	<p>That's why I built Leak Notifier -- the easy, simple way to get notified as soon as a service is potentially compromised. Sign up for the site, tell us what services you use (LinkedIn, Yahoo, Netflix, etc), and get an email, text message, or tweet notifying you of the potential leak.</p>
	<p>The faster you know that your account has been compromised, the faster you can keep your data secure. Never be out of the loop with Leak Notifier.</p>
</div>

<div align =center>
	<h4>Latest Password Leaks:</h4>
	<div style= "width: 40%" align="center">
		<ul style="text-align:left;">
	  		<% for entry in FeedEntry.all(:limit => 10, :order => "published_at desc") %>
	    	<li align=left><%= link_to h(entry.name), entry.url %></li>
	  		<% end %>
	  	</ul>
    </div>
</div>
